.button {
  border: none;
  border-radius: 100px;
  box-sizing: border-box;
  display: block;
  transition: 1s;

  &_big-colored {
    background: $color-brand;
    padding: 15px 45px;
    font-size: 1.7rem;
    line-height: 130%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.1em;

    @include media-tablet {
      margin: 0 auto;
    }
  }

  &_transparent {
    padding: 13px 45px;
    font-size: 1.7rem;
    line-height: 130%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.1em;
    background: transparent;
    border: 2px solid $color-brand;
  }

  &_round-colored {
    background: $color-brand;
  }

  &:hover {
    background: $color-brand-light;
    border-color: $color-brand-light;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    transition-delay: 0.2s;
  }

  &_disabled {
    border: 2px solid $color-text-dark!important;
    color: $color-text-dark;
    background-color: none!important;
  }

  
}

.burger {
  display: none;

  


  @include media-tablet-sm{
    display: block;
    padding-top: 11px;
    padding-bottom: 11px;
    cursor: pointer;
    z-index: 999;
    transition: rotate 2s;
    

    &__item {
      display: block;
      width: 30px;
      height: 1px;
      background-color: $color-brand;
      position: relative;


      &:before {
        content: '';
        position: relative;
        display: block;
        width: 30px;
        height: 1px;
        background-color: $color-brand;
        top: 10px;
      }

      &:after {
        content: '';
        position: relative;
        display: block;
        width: 30px;
        height: 1px;
        background-color: $color-brand;
        top: -10px;
      }

      &_pets {
        background-color: $color-black;

        

        &::after, &::before {
          background-color: $color-black;
        }
      }
    }

    &_vertical {
      rotate: -90deg;
    }

    
  }

  @include media-mobile {
    margin-right: 35px;
  }
}