.link {
  text-decoration: none;
  display: block;
  border: none;
  border-radius: 100px;
  box-sizing: border-box;
  width: fit-content;
  margin: 0 auto;
  

  &_friends {
    background: $color-brand;
    padding: 15px 45px;
    font-size: 1.7rem;
    line-height: 130%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.1em;
    color: $color-text-add;

    &:hover {
      background: $color-brand-light;
    }
  }
}