

.pet {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color-text-light;
  padding-bottom: 30px;
  border-radius: 9px 9px 0 0;
  overflow: hidden;
  

  &__title {
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
    color: $color-subtitle;
    padding: 29px 0 30px;
  }

  img {

    transition: 2s; 
    display: block;

    &:hover {
      transform: scale(1.1);
    }

  }

  

  &:hover {
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.4);
    transition-delay: 0.3s;
  }

  @include media-tablet-bg {
    &_tablet-bg {
      display: none;
    }
  }

  @include media-tablet-sm {
    &_tablet-sm {
      display: none;
    }
  }

  @include media-mobile {
    &_mobile {
      display: none;
    }
  }
}