$color-brand: #F1CDB3;
$color-brand-light: #FDDCC4;
$color-subtitle: #545454;
$color-background: #F6F6F6;
$color-white: #FFFFFF;
$color-text-dark: #CDCDCD;
$color-text-light: #FAFAFA;
$color-text-info: #B2B2B2;
$color-text-add: #292929;
$color-black: black;


$content-width: 1230px;
$tablet-width: 768px;

$mobile-big-width: 375px;
$mobile-small-width: 320px;


$pics: bowls-and-cups,
collars-leashes,
medicines,
pet-food,
shampoos,
sleeping-area,
toys,
transportation,
vitamins;


$icons: phone,
email,
marker;



